---

import BaseHead from './components/BaseHead.astro';
import StructuredData from './components/StructuredData.astro';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	image?: string;
	pubDate?: Date;
	updatedDate?: Date;
	type?: 'website' | 'person' | 'about' | 'projects';
	slug?: string;
}

const { title, description, image, pubDate, updatedDate, type = 'website', slug } = Astro.props;
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} image={image} />

		<StructuredData
			type={type}
			title={title}
			description={description}
			image={image}
			slug={slug}
			pubDate={pubDate}
			updatedDate={updatedDate}
		/>
		<ClientRouter />
	</head>
	<body
		class="bg-bg-primary text-text-primary antialiased font-sans pt-16 min-h-screen flex flex-col w-full overflow-x-hidden"
	>
		<Header/>
		<main class='flex-1 w-full flex flex-col py-8 min-h-[calc(100vh-160px)]'>
			<slot />
		</main>
		<Footer />
	</body>
</html>
